<div class="h-screen w-full bg-custom-pastel-blue relative">
    <div class="relative p-12">
        <div class="flex justify-center">
        <div class="relative inline-flex flex-col justify-center">
            <%= image_tag("banana.png", class: "animate-tilt-slow absolute right-0 sm:-right-12 w-[80px] sm:w-[160px] z-10") %>
            <div class="relative inline-block [text-shadow:_0_2px_4px_rgba(255,255,255,0.8)] text-center text-8xl text-custom-bordeaux font-beat-tech z-20">TRUST</div>
            <div class="[text-shadow:_0_2px_4px_rgba(255,255,255,0.8)] text-center text-base -mt-[18px] text-custom-bordeaux font-beat-tech">ME BROS</div>
            <div class="[text-shadow:_0_2px_4px_rgba(255,255,255,0.8)] text-center mb-2 mt-2 text-3xl text-custom-bordeaux font-beat-tech-line z-20">AI Agent ⸱ Meme ⸱ Utility</div>
        </div>
        </div>
        <div class="flex justify-center mt-2">
            <div class="inline-flex flex-col gap-2">
                <span class="[text-shadow:_0_2px_4px_rgba(255,255,255,0.8)] -mb-[8px] text-custom-red font-beat-tech">BASE</span>
                <div class="bg-white flex justify-center px-6 py-2 inline-block sm:max-w-full max-w-[260px]">
                    &nbsp;
                    <span class="text-custom-bordeaux font-beat-tech tracking-widest truncate sm:truncate-none">0xC841b4eaD3F70bE99472FFdB88E5c3C7aF6A481a</span>
                </div>
                <span class="[text-shadow:_0_2px_4px_rgba(255,255,255,0.8)] -mb-[8px] text-custom-red font-beat-tech">SOLANA</span>
                <div class="bg-white flex justify-center px-4 py-2 inline-block sm:max-w-full max-w-[260px]">
                    &nbsp;
                    <span class="text-custom-bordeaux font-beat-tech tracking-widest truncate sm:truncate-none">0xC841b4eaD3F70bE99472FFdB88E5c3C7aF6A481a</span>
                </div>
            </div>
        </div>
    </div>
    <div class="absolute bottom-6 left-12">
        <div class="flex gap-4">
            <%= link_to "https://basescan.org/tx/0x27e688399de9fbbb8685fa83d7956c51eb46420e0061c849c9e3ad99dcc8e1be", target: :_blank, class: "flex p-4 rounded-full bg-white text-custom-bordeaux font-beat-tech tracking-wide" do %>
                Contract
            <% end %>
            <%= link_to "/Litepaper.pdf", target: :_blank, class: "flex p-4 rounded-full bg-white text-custom-bordeaux font-beat-tech tracking-wide" do %>
                Litepaper
            <% end %>
        </div>
    </div>
    <div class="absolute bottom-6 right-12">
        <div class="flex gap-4">
            <%= link_to "https://dexscreener.com/base/0xd8c97c1202a2Dd1A0174a8F35dbCcb403Ccbb3F3", target: :_blank, class: "flex p-4 rounded-full bg-white" do %>
                <svg class="w-8 fill-custom-bordeaux" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
                    <path d="m543.4,484.62c-20.96-16.84-41.93-33.67-63.48-50.98-16.23,26.26-32.03,51.8-48.44,78.36-16.95-15.86-33.4-31.24-50.95-47.66-27.13,43.96-53.76,87.1-81.26,131.66-27.35-44.33-54.07-87.66-81.29-131.79-17.34,16.25-33.81,31.69-50.98,47.77-16.16-26.24-32.01-51.97-48.38-78.53-21.43,17.22-42.08,33.82-63.4,50.96,7.65-19.71,15.48-38.16,22.03-57.06,14.87-42.89,21.08-87.34,22.03-132.57.69-32.9.51-65.82,1.52-98.71.88-28.78,10.86-55.05,25.18-81.89,5.64,7.22,9.78,14.61,15.8,19.82,12.87,11.13,15.13,21.46,8.57,38.67-12.36,32.46,5.64,65.36,38.92,77.51,10,3.65,20.74,5.29,31.75,8.01-.37,6.91-.33,14.93-1.48,22.78-.39,2.67-3.36,5.66-5.93,7.2-18.86,11.22-37.92,22.11-58.2,33.84,4.27,2.85,7.39,5.23,10.76,7.13,13.77,7.77,27.71,15.26,41.44,23.11,14.59,8.34,23.5,21.85,31.5,35.97,18.63,32.86,29.89,68.63,40.78,104.52,5.66,18.67,11.08,37.41,16.66,56.1.6,2,1.52,3.91,3.41,8.72,2.62-7.93,4.45-13.31,6.18-18.73,11.91-37.19,22.49-74.87,36.2-111.38,7.64-20.33,19.69-39.19,31.21-57.82,10.63-17.19,30.25-23.04,46.67-32.78,7.35-4.36,14.82-8.53,24.05-13.83-16.11-9.47-30.38-17.86-44.66-26.24-1.07-.63-2.11-1.48-3.27-1.75-19.12-4.48-16.89-20.85-18.81-34.6-.16-1.12,5.03-4.1,7.89-4.34,23.49-1.95,43.39-10.79,57.03-30.51,13.65-19.73,12.7-41.04,3.12-61.93-3.44-7.51-3.99-12.07,2.39-18.41,9.16-9.12,16.72-19.84,26.66-31.93,6.13,15.76,13.59,30.16,17.2,45.46,4.38,18.56,6.88,37.83,7.74,56.9,1.58,35.03.35,70.19,2.13,105.2,2.78,54.79,16.82,106.96,40.54,156.48.91,1.9,1.68,3.86,2.52,5.79-.46.5-.91.99-1.37,1.49Z"/>
                    <path d="m109.25,39.33c10.61,7.89,19.34,15.34,28.99,21.3,11.9,7.34,16.55,6.29,26.87-3.02,78.25-70.62,194.26-70.19,271.28,1.55,7.68,7.15,14.18,7.86,22.13,2.99,9.45-5.79,18.57-12.11,28.9-18.89-2,4.17-3.57,7.95-5.54,11.5-19.61,35.37-47.27,63.85-78.79,88.34-20,15.53-42.09,28.38-63.24,42.44-4.24,2.82-7.85,2.8-12.65-.11-18.57-11.27-37.47-11.06-56.43-.22-2.73,1.56-7.47,2.57-9.9,1.26-57.49-30.88-106.72-71.09-141.45-127.28-3.67-5.94-6.42-12.46-10.17-19.85Z"/>
                    <path d="m376.84,321.78c-48.27,28.3-61.48,77.24-77.49,127.15-15.63-49.32-28.98-97.72-76.81-126.34,7.7-4.48,13.96-8.96,20.87-11.92,8.38-3.58,9.48-9.87,10.33-17.83,1.79-16.81,3.05-34.05,8.03-50.03,2.98-9.56,11.45-18.35,19.43-25.19,12.62-10.81,25.8-9.8,38.96.5,16.9,13.21,23.11,31.68,24.96,52.07.65,7.09.96,14.32.39,21.39-.76,9.42,3.18,15.26,11.35,19.24,6.37,3.11,12.46,6.81,19.97,10.96Z"/>
                    <path d="m245.35,215.65c-16.31,10.26-41.73,9.1-55.43-2.67-9.9-8.5-11.81-20.32-5.61-35.9,20.41,12.9,40.76,25.76,61.04,38.57Z"/>
                    <path d="m415.24,177.43c6.32,14.45,4.05,26.38-6.66,35.41-13.81,11.65-39.41,13.07-54.53,3.21,20.15-12.71,40.4-25.5,61.19-38.62Z"/>
                </svg>
            <% end %>
            <%= link_to "https://x.com/trustme_bros", target: :_blank, class: "flex p-4 rounded-full bg-white" do %>
                <svg class="w-8 fill-custom-bordeaux" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="M 5.9199219 6 L 20.582031 27.375 L 6.2304688 44 L 9.4101562 44 L 21.986328 29.421875 L 31.986328 44 L 44 44 L 28.681641 21.669922 L 42.199219 6 L 39.029297 6 L 27.275391 19.617188 L 17.933594 6 L 5.9199219 6 z M 9.7167969 8 L 16.880859 8 L 40.203125 42 L 33.039062 42 L 9.7167969 8 z"></path>
                </svg>
            <% end %>
            <%= link_to "https://t.me/trustmebrosfun", target: :_blank, class: "flex p-4 rounded-full bg-white" do %>
                <svg class="w-8 fill-custom-bordeaux" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="M46.137,6.552c-0.75-0.636-1.928-0.727-3.146-0.238l-0.002,0C41.708,6.828,6.728,21.832,5.304,22.445	c-0.259,0.09-2.521,0.934-2.288,2.814c0.208,1.695,2.026,2.397,2.248,2.478l8.893,3.045c0.59,1.964,2.765,9.21,3.246,10.758	c0.3,0.965,0.789,2.233,1.646,2.494c0.752,0.29,1.5,0.025,1.984-0.355l5.437-5.043l8.777,6.845l0.209,0.125	c0.596,0.264,1.167,0.396,1.712,0.396c0.421,0,0.825-0.079,1.211-0.237c1.315-0.54,1.841-1.793,1.896-1.935l6.556-34.077	C47.231,7.933,46.675,7.007,46.137,6.552z M22,32l-3,8l-3-10l23-17L22,32z"></path>
                </svg>
            <% end %>
        </div>
    </div>
    <div>
        <%= image_tag("monkey-default.png", id: "monkey-image", class: "absolute bottom-0 left-1/2 transform -translate-x-1/2 sm:h-[55%] h-[50%] w-auto", data: { default_image: asset_path("monkey-default.png")}) %>
    </div>
</div>